@{
    ViewBag.Title = "Allocations";
}

<h2>Allocations</h2>

<div class="span6">
    <input type="text" id ="filterProj" onkeyup="myFunction()" placeholder="Search for project.." />
</div>
<div class="span10">

    <table id="allocTable" class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Assignee</th>
                <th scope="col">Project</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var alloc in Model)
            {
                <tr>
                    <td>@alloc.Username</td>
                    <td>@alloc.ProjectName</td>
                </tr>
            }
        </tbody>
    </table>
</div>


